:root {
    /*fuente de las letras*/
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    /*Colores que voy a usar*/
    --primario: #784d3c;
    --blanco: #fff;
    --negro: #070707;
    --gris: #434242;
    --fondo: #d3c5c5;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.contenedor-header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-contenido {
    background-image: url(../../img/cabecera.jpg);
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.logo-img {
    width: 80px;
}

.titulo-header {
    font-size: 40px;
    color: #121212;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.984);
    border-bottom: 4px solid var(--blanco);
    padding: 10px 15px;
    border-radius: 5px;
}

/* Media queries para hacerlo responsivo */
@media screen and (max-width: 800px) {
    .contenedor-header {
        width: 100%;
        height: 150px;
        margin: 0 auto;
    }

    .header-contenido {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        gap: 1rem;
    }

    .logo-img {
        width: 6rem;
    }

    .titulo-header {
        font-size: 3rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .contenedor-header {
        width: 100%;
        height: 80px;
    }

    .header-contenido {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;

    }

    .logo-img {
        width: 3rem;
    }

    .titulo-header {
        font-size: 1.5rem;
        text-align: center;
    }
}

/*Todo el contenido principal*/
.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles de Section */
.barra-lateral {
    width: 300px;
    height: 500px;
    background: #7d594a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;

}

.home-page-principal,
.page-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px 20px;
    text-decoration: none;
    background-color: var(--fondo);
    border-radius: 10px;
}

.home-page-principal {
    align-self: flex-end;
    margin-top: 15px;

}

.page-home a,
.home-page-principal a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--negro);
}

.text {
    font-size: 10px;
    color: var(--negro);
}


.contenedor-imagen-perfil {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 30px;
    clip-path: polygon(0% 15%, 10% 0%,
            /* Esquina superior izquierda */
            90% 0%, 100% 15%,
            /* Esquina superior derecha */
            100% 85%, 90% 100%,
            /* Esquina inferior derecha */
            10% 100%, 0% 85%
            /* Esquina inferior izquierda */
        );
    background-color: var(--blanco);
    width: 90%;
    height: 30%;
}

.contenedor-img {
    display: flex;
    align-items: center;
    width: 50%;

}

.imagen-perfil {
    width: 90%;
    border-radius: 50%;
    background-color: var(--negro);
}

#contenedor_reseña {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nombre-perfil {
    font-size: 7px;
}

.texto_reseña {
    font-size: 10px;
}

/* Responsivo para pantallas pequeñas (menos de 768px) */
@media screen and (max-width: 800px) {
    .contenedor-principal {
        height: 880px;
    }

    .barra-lateral {
        height: 880px;
    }

    .home-page-principal,
    .page-home {
        margin-top: 20px;
    }

    .contenedor-imagen-perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;

    }

}

/* Responsivo para pantallas pequeñas (menos de 480px) */
@media (max-width: 480px) {
    .contenedor-principal {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 540px;
    }

    .barra-lateral {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        height: auto;
        min-height: 50px;
    }



    .home-page-principal,
    .page-home {
        display: flex;
        padding: 2px;
        margin: 15px 16px;
    }

    .contenedor-imagen-perfil {
        display: none;

    }

}


/* Styles de main */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: var(--primario);
}

.migas_pan {
    display: flex;
    justify-content: end;
    font-size: 10px;
    margin-right: 50px;
    margin-top: 10px;
    color: var(--blanco);
    text-shadow: 2px 2px 5px rgba(232, 250, 94, 0.984);
}

.migas_pan a {
    color: var(--blanco);
    margin-left: 5px;
    text-shadow: 2px 2px 5px rgba(232, 250, 94, 0.984);
}

.titulo_main {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(232, 250, 94, 0.984);
    color: var(--blanco);
}

.contenedor_contactos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    max-width: 1000px;
    margin: auto;
}

/* Estilo del formulario */
.formulario {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    background-color: var(--fondo);
}

.formulario h1 {
    font-size: 15px;
    color: var(--negro);
    margin-bottom: 15px;
}

/* Campos del formulario */
.campo-formulario {

    font-size: 15px;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin-bottom: 15px;
}

.campo-formulario label {
    font-weight: bold;
    color: var(--negro);
}

.campo-formulario input,
.campo-formulario textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.campo-formulario textarea {
    resize: none;
}

/* Botones */
.botones-formulario {
    margin-top: 20px;
    text-align: right;
}

.boton-limpiar,
.boton-enviar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.boton-limpiar {
    background-color: #3e3e3f;
    color: var(--blanco);
}

.boton-limpiar:hover {
    background-color: #9a9797;
}

.boton-enviar {
    background-color: #28a745;
    color: #fff;
}

.boton-enviar:hover {
    background-color: #218838;
}

/* Información adicional */
.contenedor_informacion {
    flex: 1;
    margin-left: 20px;
    padding: 20px;
}

.texto_main {
    margin-bottom: 20px;
    font-size: 15px;
}

.texto_main a {
    color: #007BFF;
    text-decoration: none;
}

.texto_main a:hover {
    text-decoration: underline;
}

/* Datos de contacto */
.contacto_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: var(--fondo);
    border-radius: 10px;
}

.datos_contacto h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.datos_contacto ul {
    font-size: 15px;
    list-style-type: none;
    padding: 0;
}

.datos_contacto li {
    margin-bottom: 5px;
}

/* Logo UTN */
.logo_utn img {
    width: 130px;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (max-width: 800px) {
    main {
        height: 880px;

    }

    .titulo_main {
        font-size: 25px;
    }

    .contenedor_contactos {
        flex-direction: column;
        height: 880px;
    }

}

@media (max-width: 480px) {
    main {
        display: flex;
        flex-direction: column;
        width: 475px;
        height: 480px;
        padding: 10px;
    }

    .migas_pan {
        font-size: 8px;
        margin-right: 80px;
        margin-top: 5px;
    }

    .titulo_main {
        font-size: 15px;
        margin-bottom: 10px;

    }

    .contenedor_contactos {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    /* Formulario */
    .formulario {
        width: 60%;
        margin-left: 30px;
        height: 100px;
        padding: 30px;
    }

    .formulario h1 {
        font-size: 10px;
    }

    .campo-formulario {
        grid-template-columns: 100px 1fr;
        font-size: 12px;
    }

    .campo-formulario label {
        margin-bottom: 2px;
    }

    .campo-formulario input {
        font-size: 10px;
        padding: 5px;
        width: 80%;
    }

    .campo-formulario textarea {
        font-size: 12px;
        width: 80%;
        height: 40px;

    }

    /* Botones */
    .botones-formulario {
        margin-top: 1px;
        text-align: center;
    }

    .boton-limpiar,
    .boton-enviar {
        margin-top: 1px;
        font-size: 8px;

    }

    /* Información adicional */
    .contenedor_informacion {
        margin-left: 0;
        width: 80%;
        display: flex;
        align-items: center;
        height: 100px;
        padding: 10px;
    }

    .texto_main {
        width: 40%;
        font-size: 10px;
        text-align: start;
    }

    /* Datos de contacto */
    .contacto_contenedor {
        display: flex;
        width: 60%;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }

    .datos_contacto h1 {
        font-size: 12px;
        text-align: center;
    }

    .datos_contacto ul {
        font-size: 12px;
        text-align: center;
    }

    .datos_contacto li {
        margin-bottom: 3px;
    }

    /* Logo UTN */
    .logo_utn img {
        width: 50px;
        margin-top: 10px;
    }
}


/* Estilo general del footer */
.footer-container {
    background-color: var(--negro);
    color: var(--blanco);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.footer-content {
    display: flex;
    justify-content: space-around;
    height: 160px;
    flex-wrap: wrap;
}

.footer-section {
    margin-top: 3px;
}

.footer-section h4 {
    font-size: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

.footer-section ul li {
    font-size: 10px;
    margin-bottom: 4px;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--blanco);

}

.footer-section p {
    font-size: 10px;
}

.footer-section .footer-escribanos {
    font-size: 10px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
}

.footer-info-alumno p {
    text-align: end;
}

.footer-bottom {
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: #555;
}

@media (max-width: 800px) {
    .footer-container {
        min-height: 350px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        min-height: 300px;
        height: auto;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        width: 100%;
    }

    .footer-section {
        margin: 0;
        text-align: center;
    }

    .footer-section .footer-info-alumno {
        display: flex;
        justify-content: center;
    }

    .footer-bottom {
        margin-top: 115px;
        font-size: 10px;

    }
}